/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    rgb(249, 250, 251);
$base00:    rgb(249, 250, 251);
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     rgb(17, 61, 144);
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $base01;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.reveal {
    background: linear-gradient(-45deg, #113d90, #6a82fb, #05dfd7);
    background-size: 600% 400%;
    animation: gradientBackground 30s ease infinite;
}

.reveal blockquote {    
    background:none;
}


.frontpage {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    @keyframes gradientBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        66% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    fill: linear-gradient(-45deg, #113d90, #6a82fb, #05dfd7);
    animation: gradientBackground 30s ease infinite;
}

.stop-color {
    @keyframes gradientBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        66% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    stop-color: linear-gradient(-45deg, #113d90, #6a82fb, #05dfd7);
    animation: gradientBackground 30s ease infinite;
}

.logo {
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 20%;
}